*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Arial, Helvetica, sans-serif"!important;
}
input,textarea,button{
    border: none;
    outline: none;
}
a{
    text-decoration: none;
}
ul,li{
 margin: 0;
 padding: 0;
 list-style: none;
}
.text-nowrap{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.center-auto{
  width: 90%;
  background-color:#fff ;
  margin: 0 auto;
  border-left:1px solid #d3d3d3;
  border-right:1px solid #d3d3d3;
  padding: 20px;
}
.empty-status{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 150px 0;
  width: 100%;
}
.comment-content *{
  font-size: 13px!important;
  line-height: 22px;
  color: #666666!important;
}
.text-num-nowrap{
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
