@font-face {
  font-family: "iconfont"; /* Project id 3438191 */
  src: url('iconfont.woff2?t=1653901378202') format('woff2'),
       url('iconfont.woff?t=1653901378202') format('woff'),
       url('iconfont.ttf?t=1653901378202') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiaoxi:before {
  content: "\e667";
}

.icon-user:before {
  content: "\e64b";
}

.icon-search:before {
  content: "\e67d";
}

