<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codergb.mapper.thumb.ThumbMapper">
  <insert id="thumb">
    insert into thumb(id,userId,${key}) values(#{id},#{userId},#{relateId})
  </insert>
  <select id="getUserThumb" resultType="Thumb">
    select *
    from thumb
    where userId=#{userId} and ${key}=#{relateId}
  </select>
  <delete id="cancelThumb">
    delete from thumb where userId=#{userId} and ${key}=#{relateId}
  </delete>
</mapper>