<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codergb.mapper.awards.AwardsMapper">
  <insert id="createAwards">
    insert into movie_awards(id,name,area,established,description,alias)
    values(#{id},#{name},#{area},#{established},#{description},#{alias})
  </insert>
  <!--获取所有奖项-->
  <select id="getAllAwards" resultType="Awards">
    select *
    from movie_awards as ma
    <if test="keyword!='' and keyword!=null">
      where ma.name like "%"#{keyword}"%" or ma.alias like "%"#{keyword}"%"
    </if>
  </select>
  <!--更新奖项信息-->
  <update id="updateAwards">
    update movie_awards set name=#{name},area=#{area},established=#{established},alias=#{alias},
                            description=#{description}
    where id=#{id}
  </update>
  <!--上传奖项封面信息-->
  <update id="uploadCover">
    update movie_awards set coverUrl=#{coverUrl},originalname=#{originalname},mimetype=#{mimetype},
                            dest=#{dest},filename=#{filename},size=#{size}
    where id=#{id}
  </update>
  <!-- 获取awards通过id -->
  <select id="getAwardsById" resultType="Awards">
    select *
    from movie_awards
    where id=#{id}
  </select>
</mapper>