*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#app {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
}

input,button,textarea{
  outline: none;
  border: none;
}
.text-nowrap{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
